<div class="room-card" [class.selected]="book.checked">
  <div class="room-header">
    <div class="room-title-group">
      <h3 class="room-name">{{ room().name }}</h3>
      <div class="room-meta">
        <span class="capacity">
          <mat-icon>groups</mat-icon> Capacidad: {{ room().capacity }}
        </span>
        <span class="price">{{ room().price | currency}}$</span>
      </div>
    </div>

    <label class="book-btn">
      <input type="checkbox" #book>
      <span class="circle"></span>
      Book
    </label>
  </div>

  <p class="room-description">
    <strong>Descripción:</strong> {{ room().description }}
  </p>
</div>