@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme();

$color-primary: #1E3D58;
$color-tertiary: #CDA349;

$bp-mobile: 760px;
$bp-tablet: 900px;
$bp-desktop: 1000px;

$font-family-main: 'Encode Sans Semi Condensed', sans-serif;

html {
  @include mat.all-component-themes($theme);
  
  --mat-sys-primary: #{$color-primary};
  --mat-sys-tertiary: #{$color-tertiary};
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  background: white;
}