@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme();

html {
  @include mat.all-component-themes($theme);
  
  --mat-sys-primary: #1E3D58;
  --mat-sys-tertiary: #CDA349;
}

body {
  margin: 0;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  background: white;
}